.span8 {
	text-align: right;
	position:relative;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

body > .container {
	margin-top:100px;
}

.code {
	margin-top:50px;
}

pre {
	display:inline-block;
}

pre code[class*="language-"] {
	font-size:1.3em !important;
	line-height: 1.4em;
	padding:4px !important;
	box-shadow: none;
}

#navbar {
	position:fixed !important;
	margin:0 !important;
}

.navbar-inner > a.brand,
#Home > li > a:first-child {
	margin-left:20px;
}

input[type=file] {
	opacity: 0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media (max-width:978px) {
	#Home > li > a {
		border-radius: 5px;
	}
}